body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  font-family: 'Tahoma';
  background-color: rgb(0, 0, 15);
}

#container {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

#title {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 1);
}

#list {
  list-style-type: circle;
  color: rgba(255, 255, 255, 0.8);
}

li {
  margin: 15px 0px;
}

button {
  outline: none;
  border: none;
  width: 70%;
  height: 30px;
  margin-top: 30px;
  border-radius: 5px;
  color: white;
  background-color: rgb(30, 255, 0, 0.5);
  cursor: pointer;
}